{% block footer %}
    <footer class="site-footer bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h4>Subscribe to Newsletter</h4>
                    <p>Stay updated with the latest news and events by subscribing to our newsletter.</p>
                    <form class="form-inline justify-content-center">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn btn-primary ml-2">Subscribe</button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4>Contact Us</h4>
                    <address>
                        Arora Basti, Ward No. 11<br>
                        Sardulgarh, Punjab, 151507<br>
                        Phone: (+91) 99882-14808<br>
                        Email: vijaysardulgarh@gmail.com
                    </address>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">News & Events</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="text-center">Follow Us: <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a></p>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="text-center">&copy; 2024 SIMS. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
    {% endblock footer%}