{%extends 'base.html'%}

{% block title %} <title>Hello world</title>
{% endblock title %}


{% block content %}

    {% if staff_members %}

        <ul class="w3-ul w3-card-4">
            <h2>Our Staff</h2>
            {% for staff_members in staff_members %}
                <li class="w3-bar">
                    <span onclick="this.parentElement.style.display='none'"
                    class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                    <img src="https://picsum.photos/64/64" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                     <div class="w3-bar-item">
                        <span class="w3-large">{{ staff_members.name }}</span><br>
                        <span>{{ staff_members.designation }}</span>
                    </div>
                </li>
    {% endfor %}

</ul>
{% endif %}
{% endblock content%}